-# %script{ src: "/js/vendor/zepto.js",  type: "text/javascript" }
-# %script{ src: "/js/vendor/qrcode.js", type: "text/javascript" }

:javascript
  // new QRCode(document.getElementById("test"), {
  //     text: "antani",
  //     width: 128,
  //     height: 128,
  //     colorDark : "#000000",
  //     colorLight : "#ffffff",
  //     correctLevel : QRCode.CorrectLevel.H
  // });

:css
  /* $green: #72B73E */

  .btn {
    padding: 16px;
    font-size: 18px;
    border-radius: 20px;
    background: #72B73E; /* green */
    border: 1px solid #72B73E;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
    cursor: pointer;
  }
  .btn:hover {
    background: white;
    color: #72B73E; /* green */
  }
  .circle .b {
    color: #FFF;
    font-size: 60px;
    padding: 12px;
    padding-left: 14px;
    width: 60px;
    margin-left: 50px;
    border-radius: 50%;
    background-color: #f39f16;
    border: 1px solid #f39f16;
    cursor: pointer;
    text-align: center;
  }
  .circle .b:hover {
    background-color: white;
    color: #f39f16;
  }
  .left .address {
    width: 200px;
    word-wrap: break-word;
    text-align: center;
  }

.left
  %a.btn{ href: "bitcoin:#{FC.address_main}" }
    Donate with Bitcoin
  .s20
  %a.circle{ href: "bitcoin:#{FC.address_main}" }
    .b
      Ƀ
  .s20
  .address #{FC.address_main}
.s10

.right.black
  .s10
  %a
    Donate via Credit Card
  .s50
  .margin-card
    :css
      form input[name=submit]:hover {
        opacity: 0.8;
      }

    %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "_top"}
      %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}/
      %input{:name => "hosted_button_id", :type => "hidden", :value => "ZUXTTD3LZEUBL"}/
      %input{  src: "https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif", :alt => "Pay via Credit Card trough PayPal", :border => "0", :name => "submit", :type => "image"}/
      -# %img{ src: "https://www.paypalobjects.com/en_GB/i/scr/pixel.gif", :alt => "", :border => "0", :height => "1", :width => "1"}/
