%h2 Admin

%ul
  %li
    %a{ href: "/redistribute" } Redistribute
  %li
    %a{ href: "/status" } Status

%h3 User

%ul
  %li
    %a{ href: "/donate" } Donate
  %li
    %a{ href: "/register" } Register
