%h2 Admin

%ul
  %li
    %a{ href: "/admin/redistribute" } Redistribute
  %li
    %a{ href: "/status" } Status

%h3 User

%ul
  %li
    %a{ href: "/donate" } Donate
  %li
    %a{ href: "/admin/register" } Register
