%h3 Redistribute

%h3 Alpha form

-# TODO: :markdown
=#

%p Amount redistribution:

%p simple proposed form (alpha version):

%p 1 donation a week (they need to be signed before so that the main wallet can be "cold" and/or a multisig address)





%h3 Better form: Password Authentication with parameter or session cookie, requires SSL ?

%h3 Clientside form, clientside wallets or local servers type like c9.io is doing (Cloud9 Web IDE)

%h3 Enter your Multisig Key and sign clientside ?

.s40

%p
  %b Debug:

%form{ action: "/admin/redistribute", method: "post" }
  %input.btn{ type: "submit", value: "Redistribute"}
