%h3 Redistribute

Amount redistribution:

simple proposed form (alpha version):

1 donation a week (they need to be signed before so that the main wallet can be "cold" and/or a multisig address)



%p Authenticate ?

%p Enter your Multisig Key and sign clientside ?

.s40

%p
  %b Debug:

%form{ action: "/redistribute", method: "post" }
  %input.btn{ type: "submit", value: "Redistribute"}
