body {
  background: #FAFAFA;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}
.content {
}

a {
  text-decoration: none;
  color: #72B73E;
}

h1, h2, h3 {
  color: #72B73E;
}

pre {
  display: inline-block;
}

.col_left, .col_right {
  float: left;
  width: 40%;
  margin-right: 5%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear{
  clear: both
}

.black a {
  color: black
}

.s10{ height: 10px; }
.s20{ height: 20px; }
.s30{ height: 30px; }
.s40{ height: 40px; }
.s50{ height: 50px; }

.btn {
  padding: 16px;
  font-size: 18px;
  border-radius: 20px;
  background: #72B73E; /* green */
  border: 1px solid #72B73E;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
  display: inline-block;
  cursor: pointer;
}
.btn:hover {
  background: white;
  color: #72B73E; /* green */
}

.btn.mini {
  border-radius: 10px;
  padding: 7px;
  font-size: 13px;

}
